<!DOCTYPE html>
<html>
<head>
  <title>Couponable</title>
  <%= stylesheet_link_tag    "couponable/application", :media => "all" %>
  <%= javascript_include_tag "couponable/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
